<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mojokarma.mojokarma" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <activity android:name="org.achartengine.GraphicalActivity" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/applauds"
        android:label="Appreiz"
        android:theme="@style/AppTheme.Base" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".apploud"
            android:label="@string/app_name" >

            <!-- android:theme="@android:style/Theme.Holo.Light.NoActionBar" -->
            <intent-filter>
                <action android:name="android.intent.action.APPL0UD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TimeLine"
            android:label="@string/app_name" >

            <!-- android:theme="@style/Theme.AppCompat.Light.DarkActionBar" -->

            <intent-filter>
                <action android:name="android.intent.action.TIMELINE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!--
        <meta-data
        android:name="android.app.default_searchable"
        android:value=".SearchResultsActivity" />
            -->
        </activity>
        <activity
            android:name=".SearchResultsActivity"
            android:label="@string/app_name" >

            <!-- to identify this activity as "searchable" -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:value=".activities.SearchResultsActivity" />
        </activity>
        <activity
            android:name=".Profile"
            android:label="Profile" >

            <!-- android:theme="@style/Theme.AppCompat.Light.DarkActionBar" -->
            <intent-filter>
                <action android:name="android.intent.action.PROFILE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".TimeLine" />
        </activity>
        <activity
            android:name=".ApplaudSomeone"
            android:label="Create Appreiz" >

            <!-- android:theme="@style/Theme.AppCompat.Light.DarkActionBar" -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Profile" />
        </activity>
        <activity
            android:name=".MainActivityUserTab"
            android:label="Appreiz" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserProfile" />
        </activity>
        <activity
            android:name=".UserProfile"
            android:label="My Profile" >

            <!-- android:theme="@style/Theme.AppCompat.Light.DarkActionBar" -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TimeLine" />
        </activity>
        <activity
            android:name=".Edit_profile"
            android:label="Edit Profile" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserProfile" />
        </activity>
        <activity
            android:name=".ManagerDashBoard_MainActivity"
            android:label="Manager DashBoard" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TimeLine" />

        </activity>
        <activity
            android:name=".Values"
            android:label="@string/title_activity_values" >
        </activity>
        <activity
            android:name=".Nimble"
            android:label="@string/title_activity_nimble" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ManagerDashBoard_MainActivity" />
        </activity>
        <activity
            android:name=".TechicalExcellence"
            android:label="Techical Excellence" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ManagerDashBoard_MainActivity" />
        </activity>
        <activity
            android:name=".Innovation"
            android:label="@string/title_activity_innovation" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ManagerDashBoard_MainActivity" />
        </activity>
        <activity
            android:name=".Integrity"
            android:label="@string/title_activity_integrity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ManagerDashBoard_MainActivity" />
        </activity>
        <activity
            android:name=".Passion"
            android:label="@string/title_activity_passion" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ManagerDashBoard_MainActivity" />
        </activity>
        <activity
            android:name=".Colloboration"
            android:label="@string/title_activity_colloboration" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ManagerDashBoard_MainActivity" />
        </activity>
        <activity
            android:name=".ManagerMainActivityLTab"
            android:label="Employee Statistics" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ManagerDashBoard_MainActivity" />
        </activity>
        <activity
            android:name=".GiftsApproval"
            android:label="Approve Gift" >
        </activity>
        <activity
            android:name=".GiftTimeline"
            android:label="Gift Approval" >
        </activity>

    </application>

</manifest>
